name: Fetch KV v1 secrets from Vault via OIDC

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  get_secrets:
    runs-on: [self-hosted]
    outputs:
      json: ${{steps.get_json.outputs.json}}
    steps:
      - uses: actions/checkout@v4

      - name: Install PyYAML
        run: python3 -m pip install --user pyyaml

      - name: Setup Ansible
        run: python3 -m pip install ansible --user pyyaml

      - name: Setup zscaler
        run: ansible-galaxy collection install zscaler.zpacloud

   
      - name: Convert YAML to JSON + build secrets block
        env:
          YAML_CONFIG: myvars.yaml
          AUTH_PROFILE: test
        id: convert
        run: python3 .github/workflows/scripts/parse_auth.py

      - name: Get Vault Secrets
        uses: hashicorp/vault-action@v3.4.0
        with:
          url: ${{ fromJSON(steps.convert.outputs.json).url }}
          method: jwt
          role: ${{ fromJSON(steps.convert.outputs.json).role }}
          path: ${{ fromJSON(steps.convert.outputs.json).path }}
          exportEnv: true
          tlsSkipVerify: true
          secrets: | 
            ${{ steps.convert.outputs.secrets }}
            
          
      - name: Use secrets
        run: |
          echo "User: $APP_USER" > creds.txt
          echo "Pass length: ${#APP_PASS}"
          # Don't print real secrets in production workflows
      
      - name: upload data
        uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: ./creds.txt


      - name: Validate secrets without printing
        run: |
          [[ -n "$APP_USER" ]] || { echo "APP_USER is empty"; exit 1; }
      
          if [[ "$APP_USER" == "helloworld" ]]; then
            echo "✅ Secrets are present and match expected values."
          else
            echo "❌ Secrets do NOT match expected values."; exit 1;
          fi

      - name: Get all json
        id: get_json
        env:
          YAML_CONFIG: myvars.yaml
        run: python3 .github/workflows/scripts/parse_all.py

      - name: print all json
        run: |
          echo "${{ fromJSON(steps.get_json.outputs.json).test.url }}"


      - id: mk
        run: |
          j='${{ steps.get_json.outputs.json }}'
          jq -r '.test.secrets
                 | map("\(.path) \(.key) | \(.env_name) ;")
                 | join("\n")' <<< "$j" > /tmp/secrets.txt
          {
            echo 'secrets<<EOF'
            cat /tmp/secrets.txt
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

      - name: Get Vault Secrets2
        uses: hashicorp/vault-action@v3.4.0
        env:
          AUTH_PROFILE: test
        with:
          url: ${{ fromJSON(steps.get_json.outputs.json)[env.AUTH_PROFILE].url }}
          method: jwt
          role: ${{ fromJSON(steps.get_json.outputs.json)[env.AUTH_PROFILE].role }}
          path: ${{ fromJSON(steps.get_json.outputs.json)[env.AUTH_PROFILE].path }}
          exportEnv: true
          tlsSkipVerify: true
          secrets: | 
            ${{ steps.mk.outputs.secrets }}
           
  check_output:
    runs-on: [self-hosted]
    needs: get_secrets
    steps:
      - uses: actions/checkout@v4

      - name: print all json
        run: |
          echo "${{ fromJSON(needs.get_secrets.outputs.json).test.url }}"
    