name: Fetch KV v1 secrets from Vault via OIDC

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
env:
  YAML_CONFIG: myvars.yaml

jobs:
  parse_yaml:
    runs-on: ubuntu-latest
    outputs:
      json: ${{ steps.convert.outputs.json }}
    steps:
      - uses: actions/checkout@v4

      - name: Convert YAML to JSON
        id: convert
        run: |
          python3 -c '
          import os, json, yaml
          
          file_path = os.environ["YAML_CONFIG"]
          with open(file_path) as f:
              data = yaml.safe_load(f)
          
          json_str = json.dumps(data)
          with open(os.environ["GITHUB_OUTPUT"], "a") as out:
              out.write(f"json={json_str}\n")'

      - name: Debug output value
        run: "echo Output was: ${{ steps.convert.outputs.json }} "


  fetch-secrets:
    runs-on: [self-hosted]
    needs: parse_yaml
    env:
      CONFIG_ENV: test
    steps:
      - uses: actions/checkout@v4

      - name: load json
        run: |
          echo "JSON_CONFIG=${{ needs.parse_yaml.outputs.json }}" >> $GITHUB_ENV

      - name: test var
        run: | 
          echo $JSON_CONFIG
          
      - name: Extract & export values
        run: |
          echo "VAULT_URL=$(echo \"$JSON_CONFIG\" | jq -r '.test.url')" >> $GITHUB_ENV
          echo "ROLE=$(echo \"$JSON_CONFIG\" | jq -r '.test.rolename')" >> $GITHUB_ENV
          echo "JWT_PATH=$(echo \"$JSON_CONFIG\" | jq -r '.test.path')" >> $GITHUB_ENV
  
          echo "VAULT_SECRETS<<EOF" >> $GITHUB_ENV
          echo "$JSON_CONFIG" | jq -r '.test.secrets[] | "\(.path) \(.key) | \(.env_name)"' >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      
    

      - name: Get Vault Secrets (KV v1)
        uses: hashicorp/vault-action@v3.4.0
        with:
          url: ${{ env.VAULT_ADDR }}
          method: jwt
          role: ${{ env.VAULT_ROLE }}
          path: ${{ env.VAULT_PATH }}
          exportEnv: true
          tlsSkipVerify: true
          secrets: ${{ env.VAULT_SECRETS }}


      - name: test env
        run: | 
          env

          
      - name: Use secrets
        run: |
          echo "User: $APP_USER" > creds.txt
          echo "Pass length: ${#APP_PASS}"
          # Don't print real secrets in production workflows
      
      - name: upload data
        uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: ./creds.txt


      - name: Validate secrets without printing
        run: |
          [[ -n "$APP_USER" ]] || { echo "APP_USER is empty"; exit 1; }
      
          if [[ "$APP_USER" == "helloworld" ]]; then
            echo "✅ Secrets are present and match expected values."
          else
            echo "❌ Secrets do NOT match expected values."; exit 1;
          fi

   